<div class = "header-spacer"></div>
<div class = "timer-container">
  <div id = "timer-block"> 
  <div class="center-text">Create a new Timebox!</div>
  	<%= form_for @timebox, :html => {:id => 'timer-selector' } do |f| %>
  	<%= f.label "Work block time:" %>
  	<%= f.select :work_block_time, [1, 5, 10, 15 , 20] %><br>
  	<%= f.label "Break block time:" %>
  	<%= f.select :break_block_time, [1,5, 10, 15 , 20] %><br>
  	<%= f.label "Activity:" %>
    <%= collection_select(:timebox, :activity_id, Activity.all, :id, :activity_name, prompt: true) %><br>
    <%= link_to "Add a new activity", new_activity_path(@activity)  %><br>
  	<%= f.submit :class => "submit-button" %>
  <% end %>
  </div>
</div>
</div>