<div class = "header-spacer"></div>
<div id = "timer-block"></div>
<div class = "timer-container">
    <div class = "center-text">
      Time to get to work, <%= @timebox.creator.name %>!
    </div>
    <div class = "countdown-container">
      <div id = "timer-div">
        <div id = "timer-min">
        	<% if @timebox.work_block_time < 10 %>
	        	0<%= @timebox.work_block_time %>
        	<% else %>
	        	<%= @timebox.work_block_time %>
        	<% end %>
        </div>
        <div id="timer-colon">:</div>
        <div id = "timer-sec">00</div>
      </div>
    </div>
    <div id = "timer-button">
      <div id = "start-button">Start</div>
      <div id = "pause-button">Pause</div>
      <div id = "resume-button">Resume</div>
    </div>

    <div id = "pause-message">
      <% if @timebox.total_cycles == 0 %>
        <h1>Timebox is paused!</h1>
      <% end %>
    </div>

    <div id = "start-message">
      <% if @timebox.total_cycles == 0 %>
        <h1>Timebox is active!</h1>
      <% end %>
    </div>
</div>

<div id = "breaker-container">
	<div class = "countdown-container">
	  <div id = "breaker-div">
	    <div id = "breaker-min">
				<% if @timebox.break_block_time < 10 %>
	      	0<%= @timebox.break_block_time %>
	    	<% else %>
	      	<%= @timebox.break_block_time %>
	    	<% end %>	
	    </div>
	    <div id="breaker-colon">:</div>
	    <div id = "breaker-sec">00</div>
	  </div>
	</div>
</div>