<!DOCTYPE html>
<html>
<head>
  <title>Breaktimerails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class = "background">
		<%= image_tag "stopwatch.jpg" %>
		<div id="header-bar">
			<div id="header-site-name">Breaktime</div>
			<div id="header-user-id">
				<% if current_user %>
				  Signed in as <%= link_to current_user.name, user_path(current_user) %> | <%= link_to "Logout", '/logout' %>
				<% else %>
				  <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
				<% end %>
			</div>
		</div>
		<%= yield %>
	</div>
</body>
</html>
